/* @collapse */

.challengeBoxContainer
{
    height: 100%;
    padding: 1.5rem 2rem;

    border-radius: 5px;
    background-color: var(--color_white);
    box-shadow: var(--box_shadow);

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #region Activated Challenge */

.challengeActive
{
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

.challengeActive > header
{
    color: var(--color_blue);

    font-size: 1.25rem;
    font-weight: 600;

    padding: 0 2rem 1.5rem;
    
    border-bottom: 1px solid var(--color_gray_line);
}

.challengeActive > main
{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.challengeActive > main > strong
{
    font-size: 2rem;
    font-weight: 600;

    color: var(--color_title);
    margin: 1.5rem 0 1rem;
}

.challengeActive > main > p
{
    line-height: 1.5;
}

.challengeActive > footer
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.challengeActive > footer > button
{
    height: 3rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    color: var(--color_white);

    font-size: 1rem;
    font-weight: 600;

    transition: filter 0.2s;
}

.challengeActive > footer > button:hover
{
    filter: brightness(0.9);
}

.challengeFailedButton
{
    background-color: var(--color_red);
}

.challengeSucceededButton
{
    background-color: var(--color_green);
}

/* #endregion */

/* #region Non-Activated Challenge */

.challengeNonActive
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challengeNonActive > strong
{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
}

.challengeNonActive > p
{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4;
    max-width: 70%;
    margin-top: 3rem;
}

.challengeNonActive > p > img
{
    margin-bottom: 1rem;
}

/* #endregion */

/*  */