.experienceBarContainer
{
    display: flex;
    align-items: center;
}

.experienceBarContainer span
{
    font-size: 1rem;
}

.experienceBarContainer > div
{
    flex: 1;
    height: 4px;

    border-radius: 4px;
    
    background-color: var(--color_gray_line);

    position: relative;
    margin: 0 1.5rem;
}

div.experienceBar
{
    width: var(--startPoint);
    height: inherit;

    background-color: var(--color_green);

    animation-name: play_scaling_up;
}

span.currentExperience
{
    white-space: nowrap;
    
    position: absolute;
    top: 12px;
    left: var(--startPoint);
    transform: translateX(-50%);

    animation-name: play_moving_up;
}

div.experienceBar, span.currentExperience
{
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes play_scaling_up
{
    from {
        width: var(--startPoint);
    }
    to {
        width: var(--endPoint);
    }
}

@keyframes play_moving_up
{
    from {
        left: var(--startPoint);
    }
    to {
        left: var(--endPoint);
    }
}